@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

$primaryClr: hsl(225, 100%, 94%);

@mixin flex($flex-direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $flex-direction;
}

body {
  @include flex(column);
  gap: 2rem;
  min-height: 100dvh;
  background-color: $primaryClr;
  background-image: url("../images/pattern-background-desktop.svg");
  // background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  font-family: "Red Hat Display", sans-serif;
}

main {
  @include flex(column);
  gap: 2rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.5rem;
  text-align: center;
  //   width: clamp(350px, 25%, 500px);
  min-width: 350px;
  width: 25%;
  max-width: 500px;
  padding: 0 3rem 3rem;
  overflow: hidden;

  & > h1 {
    font-weight: 900;
    font-size: 2.5rem;
    color: hsl(223, 47%, 23%);
  }

  p {
    font-size: 1.5rem;
    color: hsl(224, 23%, 55%);
  }

  & .pricing {
    @include flex(row);
    justify-content: flex-start;
    gap: 2rem;
    width: 100%;
    padding: 2rem;
    position: relative;
    background-color: hsla(225, 100%, 94%, 0.4);
    border-radius: inherit;

    & a:last-child {
      position: absolute;
      right: 2rem;
      color: hsl(245, 75%, 52%);
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  & button {
    outline: none;
    background-color: hsl(245, 75%, 52%);
    padding: 1.5rem;
    width: 100%;
    border-radius: inherit;
    font-family: inherit;
    color: hsl(0, 0%, 100%);
    font-weight: 800;
    cursor: pointer;
    user-select: none;
  }

  & a:last-child {
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    font-size: 1.5rem;
    font-weight: 700;
  }
}

@media (max-width: 300px) {
  body {
    margin-block: 5rem;
  }
}
